ws-producer/src/main/webapp/WEB-INF/wsdl/BerekenBMIService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:req="http://schemas.hu.fnt.nl/Man/request"
        xmlns:rsp="http://schemas.hu.fnt.nl/Man/response"
        xmlns:reqVrouw="http://schemas.hu.fnt.nl/Vrouw/request"
        xmlns:rspVrouw="http://schemas.hu.fnt.nl/Vrouw/response"
        xmlns:flt="http://schemas.hu.fnt.nl/berichten/fault"
        xmlns:tns="http://schemas.hu.fnt.nl/berichten/message"
        targetNamespace="http://schemas.hu.fnt.nl/berichten/message">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://schemas.hu.fnt.nl/Vrouw/request" schemaLocation="BMIBerekenVrouw.request.soap.xsd" />
            <xsd:import namespace="http://schemas.hu.fnt.nl/Vrouw/response" schemaLocation="BMIBerekenVrouw.response.soap.xsd" />
            <xsd:import namespace="http://schemas.hu.fnt.nl/Man/request" schemaLocation="BMIBerekenMan.request.soap.xsd" />
            <xsd:import namespace="http://schemas.hu.fnt.nl/Man/response" schemaLocation="BMIBerekenMan.response.soap.xsd" />
            <xsd:import namespace="http://schemas.hu.fnt.nl/berichten/fault" schemaLocation="fault.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="BMIBerekenMan.request.soap">
        <wsdl:part name="BMIBerekenMan.request.soap" element="req:BMIBerekenMan.request.soap" />
    </wsdl:message>
    <wsdl:message name="BMIBerekenMan.response.soap">
        <wsdl:part name="BMIBerekenMan.response.soap" element="rsp:BMIBerekenMan.response.soap" />
    </wsdl:message>
    <wsdl:message name="BMIBerekenVrouw.request.soap">
        <wsdl:part name="BMIBerekenVrouw.request.soap" element="reqVrouw:BMIBerekenVrouw.request.soap" />
    </wsdl:message>
    <wsdl:message name="BMIBerekenVrouw.response.soap">
        <wsdl:part name="BMIBerekenVrouw.response.soap" element="rspVrouw:BMIBerekenVrouw.response.soap" />
    </wsdl:message>
    <wsdl:message name="fault">
        <wsdl:part name="fault" element="flt:powerFault" />
    </wsdl:message>
    <wsdl:portType name="WS-Interface">
        <wsdl:operation name="calculateBmiMan">
            <wsdl:input message="tns:BMIBerekenMan.request.soap" />
            <wsdl:output message="tns:BMIBerekenMan.response.soap" />
            <wsdl:fault name="fault" message="tns:fault" />
        </wsdl:operation>
        <wsdl:operation name="calculateBmiVrouw">
            <wsdl:input message="tns:BMIBerekenVrouw.request.soap" />
            <wsdl:output message="tns:BMIBerekenVrouw.response.soap" />
            <wsdl:fault name="fault" message="tns:fault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS-Binding" type="tns:WS-Interface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="calculateBmiMan">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="calculateBmiVrouw">
        <soap:operation soapAction="" style="document" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
        <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
        </wsdl:fault>
    </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="mijnService">
        <wsdl:port name="WS-Port" binding="tns:WS-Binding">
            <soap:address location="http://localhost:8080/ws-producer/bmi_bereken" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>