ws-producer/src/main/webapp/WEB-INF/wsdl/BMIBerekenVrouw.request.soap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.hu.fnt.nl/Vrouw/request"
           targetNamespace="http://schemas.hu.fnt.nl/Vrouw/request">
    <xs:element name="BMIBerekenVrouw.request.soap" type="tns:requestVrouw" />
    <xs:complexType name="requestVrouw">
        <xs:all minOccurs="1">
            <xs:element name="GewichtInHeleKilos" type="xs:nonNegativeInteger" />
            <xs:element name="LengteinCm" type="xs:nonNegativeInteger" />
        </xs:all>
    </xs:complexType>
</xs:schema>