ws-producer/src/main/webapp/WEB-INF/wsdl/BMIBerekenMan.response.soap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.hu.fnt.nl/Man/response"
           targetNamespace="http://schemas.hu.fnt.nl/Man/response">
<xs:element name="BMIBerekenMan.response.soap" type="tns:response" />

    <!--Deze waarde krijg je terug, het is 1 waarde , double-->
<xs:complexType name="response">
    <xs:all minOccurs="1">
        <xs:element name="result" type="xs:double" />
    </xs:all>
</xs:complexType>
</xs:schema>